name: Publish Version

on:
  push:
    tags:
    - '*'

jobs:

  image:
    name: Publish
    uses: ./.github/workflows/image.yml
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
